<!DOCTYPE html>
<html lang="en">
<head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><title>Smart Home API</title></head>
<body>
  <h1>Smart Home API</h1>
  <button onclick="location.href='/devices'">Get All Devices(API)</button>
  <button onclick="location.href='/ui/devices'">Devices UI</button>
  <button onclick="location.href='/ui/add_device'">Add Device</button>
  <button onclick="location.href='/ui/remove_device'">Remove Device</button>
  <button onclick="location.href='/energy_usage'">Energy Usage(API)</button>
  <button onclick="location.href='/ui/device_control'">Device Control</button>
</body>
</html>
